version: 2
updates:
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: monthly
    commit-message:
      prefix: "deps(docker) "

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    commit-message:
      prefix: "deps(actions) "
    groups:
      devops:
        patterns:
          - "*"
